<div id="login-container" class="container-fluid">
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="container-fluid">
            <span class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <input type="text" id="username-input" class="form-control input-login" placeholder="Username" formControlName="username"
                />
            </span>
            <span class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <input type="password" id="password-input" class="form-control input-login" placeholder="Password" formControlName="password"
                />
            </span>
        </div>
        <div class="container-fluid">
            <div class="bottom-bar row">
                <span class="col-xs-12">
                    <input id="login-button" type="submit" value="Login" [disabled]="!loginForm.valid" class="btn btn-success">
                </span>
            </div>
        </div>
    </form>
    <div id="login-error" *ngIf="errorMessage" class="container-fluid">
        <div class="row">
            <span class="col-xs-12 text-center">{{errorMessage}}</span>
        </div>
    </div>
</div>