#login-container {
    width: 100%;
    overflow:hidden;
    background-color: #333333;
    padding-top: 30px;
    max-height: 100vh;
}

.input-login {
    max-width: 400px;
    height: 60px;
    font-size: 24px;
    display: block;
    margin: 10px auto 0px auto;
    border-radius: 10px;
}

#login-button{
    height: 60px;
    max-width: 180px;
    font-size: 28px;
    display: block;
    border-radius: 10px;
    float: right;
    margin-top: 10px;
}

.bottom-bar {
    display: block;
    max-width: 400px;
    margin: 0px auto 0px auto;
}

#login-error {
    text-align: center;
    margin-top: 100px;
    height: 30px;
    max-width: 400px;
    color: white;
    background-color: red;
    font-size: 20px;
    border-radius: 5px;
    clear: both;
}

span {
    display: block;
    margin: 0px auto 0px auto;
}